@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');

body{
    font-family: 'Fredoka', sans-serif;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
h1{
    color: white;
    text-align: center;
}
table{
    align-items: center;
    border-radius: 5px;
    border: #fff;

}

input [type ="submit"]{
    background-color:rgb(0, 0, 0, 0.4) ;
}

img{
    height: 20px;
    width: 20px;
}