@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');
header{
    font-size: large;
    border-bottom: 2px solid rgb(255, 255, 255);
    padding: 20px 0;
    margin-bottom:10px;
    width: 100%;
    text-align: center;
    font-family: 'Fredoka', sans-serif;
}